{% ckan_extends %}

{% block search_input %}
    {% if h.url_for(request.endpoint) == "/dataset/" %}
        <div style="margin-bottom: 1rem;" id="gztr-search-widget-root"></div>
    {% endif %}
    {{ super() }}
    {% if request.args.get('ext_bbox') %}
        {% set ext_bbox = request.args.get('ext_bbox') %}
    {% endif %}
    {% if request.args.get('statewide') %}
        {% set statewide = request.args.get('statewide') %}
    {% else %}
        {% set statewide = "yes" %}
    {% endif %}
    {% if form_id == 'dataset-search-form' and type =='dataset' %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" {% if statewide == "yes" %} checked {% endif %} id="statewide-search-switch">
            <input type="hidden" name="statewide" id="statewide">
            {% if ext_bbox %}
                <input type="hidden" name="ext_bbox" value={{ request.args.get('ext_bbox') }}>
            {% endif %}
            <label class="form-check-label" for="statewide-search-switch" id="statewide-search-label">Include statewide datasets</label>
        </div>
    {% endif %}
{% endblock %}

{% block search_search_fields %}
    {% if fields -%}
        <span>{{ form.hidden_from_list(fields=fields,except_names=['statewide']) }}</span>
    {%- endif %}
{% endblock %}

{% asset 'ckanext-gztr/gztr_search_widget-react-js' %}
